local.properties
Thumbs.db
.DS_Store
.classpath
.project
obj/
.settings/
*.properties
proguard/
*.log
.navigation/
*.iml
.idea
*.jks
#..............................
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json

